<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">
  {% set setting = collections.settings %}
  <head>
    <META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "components/_meta.html" %}
    <link rel="stylesheet" href="{{ '/_includes/assets/css/styles.css' | url }}"/>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.css"
/>

    <link rel="stylesheet" href="https://use.typekit.net/ihs2mum.css">
    <style>
      .address-callout a,
      .address-callout a:hover {
        color: #fff;
        text-decoration: none;

      }

      #menu-item-order-online a {
        background-color: rgba(0,0,0,0.1);
        padding: 6px 20px;
        text-align: center;
        border-radius: 4px;
      }
      @media (min-width: 690px) {
        #menu-item-order-online a {
          background-color: #f47840;
        }
        #menu-item-order-online a:hover {
          background-color: #dc6c3a;
        }
      }
    </style>
  </head>
  <body class="{% block bodyclass %}{% endblock %}" data-env="{{ project.environment }}">
    <div class="off-canvas-wrap">
      <nav class="mobile-nav">
        {% include "components/mobile-nav.njk" %}

        <p><br></p>

        <ul class="nav">
          <li class="site-nav-item">
            <a href="tel:6142857028">614.285.7028</a>
          </li>
          <li class="site-nav-item is-button">
            <a class="site-nav-link" href="{{ '/inquiry' | url }}">Book us for your next event</a>
          </li>
        </ul>
      </nav>
      <div class="off-canvas-content-wrap">
        {% block headerwrap %}
          <header class="l-header">
            <button class="hamburger hamburger--spin open-panel" type="button">
              <span class="hamburger-box">
                <span class="hamburger-inner"></span>
              </span>
            </button>
            {% block mobilemastheadlogo %}
              <a href="{{ '/' | url }}" class="mobile-logo">
                <img width="100%" src="{{ '/dist/img/russo-round-white.svg' | url }}">
              </a>
            {% endblock mobilemastheadlogo %}

            <nav class="sf-wrap right">
              <div class="l-container">
                <div class="l-nav-wrap">
                  <div class="sf-menu">
                    {% include "components/nav.njk" %}
                  </div>

                  <a href="{{ '/' | url }}" class="main-logo">
                    <img width="100%" src="{{ '/dist/img/russo-round-white.svg' | url }}">
                  </a>

                  <div class="sf-menu">

                    <div class="address-callout">
                      <h5>
                        <a href="tel:6142857028">614.285.7028</a>
                      </h5>
                    </div>
                    <ul class="nav">
                      <li class="site-nav-item is-button">
                        <a class="site-nav-link" href="{{ '/inquiry' | url }}">Book us for your next event</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </nav>
          </header>
        {% endblock headerwrap %}

        {% block maincontentwrap %}
          {% block abovecontent %}{% endblock %}
          <section class="v-pad white-bg">
            <div class="l-container">
              <div class="l-two-thirds">
                {% block content %}
                  <h1>{{ title | safe }}</h1>

                  {{ layoutContent | safe }}

                  {% if gallery.images %}
                    <ul class="thumbnails">
                      {% for img in gallery.images %}
                        <li>
                          <a href="{{img.image}}-/scale_crop/1200x" class="fancybox" rel="fancied">
                            <img src="{{img.image}}-/scale_crop/200x200/center/"/>
                          </a>
                        </li>
                      {% endfor %}
                    </ul>
                  {% endif %}
                {% endblock content %}

              </div>
              <div class="l-one-third l-last text-center">
                {% block sidebar %}
                  <img src="{{ image | imgix }}?w=800"/>
                {% endblock %}

              </div>

            </div>
          </section>
        {% endblock maincontentwrap %}
        {% block footerwrap %}

          <footer class="l-footer knockout dark-bg v-pad">
            <div class="l-container">
              <div class="l-one-half">
                <h2>Contact us today</h2>
                <p>
                  <a class="footer-button" href="{{ '/inquiry' | url }}">Book us for your next event</a>
                </div>
                <div class="l-one-half l-last footer-address">
                  <p>
                    <strong>Russo's Catering & Events</strong><br>
              2526 Maple Ave.<br>
              Zanesville, OH<br>
                    <a href="tel:6142857028">614.285.7028</a><br>
                    <a href="mailto:russosevents@outlook.com">russosevents@outlook.com</a>
                  </p>

                  <style>
                    .facebook,
                    .instagram {
                      opacity: 0.6;
                    }

                    .facebook:hover,
                    .instagram:hover {
                      opacity: 1;
                    }
                  </style>

                  <div style="display:flex;align-items: center;">
                    <a style="width:36px;margin-right:20px;" target="_blank" rel="external" class="facebook" href="https://www.facebook.com/pg/russosevents">
                      <svg xmlns="http://www.w3.org/2000/svg"
                  aria-label="Facebook" role="img"
                  viewBox="0 0 512 512">
                        <rect fill="#fff" width="512" height="512" rx="15%"/>
                        <path  fill="#333" d="M355.6 330l11.4-74h-71v-48c0-20.2 9.9-40 41.7-40H370v-63s-29.3-5-57.3-5c-58.5 0-96.7 35.4-96.7 99.6V256h-65v74h65v182h80V330h59.6z"/>
                      </svg>
                    </a>
                    <a style="width:42px;margin-right:20px;" target="_blank" rel="external" class="instagram" href="https://www.instagram.com/russosevents">
                      <svg viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd" stroke-linejoin="round" stroke-miterlimit="2">
                        <path fill="#fff" d="M300 44c-69.526 0-78.244.295-105.549 1.54-27.248 1.244-45.858 5.571-62.142 11.9-16.834 6.542-31.11 15.296-45.342 29.528-14.232 14.231-22.986 28.508-29.528 45.342-6.329 16.283-10.656 34.893-11.9 62.141C44.295 221.756 44 230.474 44 300c0 69.524.294 78.242 1.54 105.547 1.243 27.248 5.57 45.858 11.9 62.141 6.541 16.834 15.295 31.11 29.527 45.344 14.231 14.231 28.508 22.985 45.342 29.527 16.284 6.328 34.894 10.656 62.142 11.899 27.305 1.245 36.023 1.54 105.549 1.54 69.524 0 78.242-.295 105.547-1.54 27.248-1.243 45.858-5.571 62.141-11.899 16.834-6.542 31.11-15.296 45.344-29.527 14.231-14.233 22.985-28.51 29.527-45.344 6.328-16.283 10.656-34.893 11.899-62.14 1.245-27.306 1.54-36.024 1.54-105.548 0-69.526-.295-78.244-1.54-105.549-1.243-27.248-5.571-45.858-11.899-62.141-6.542-16.834-15.296-31.11-29.527-45.342-14.233-14.232-28.51-22.986-45.344-29.528-16.283-6.329-34.893-10.656-62.14-11.9C378.241 44.296 369.523 44 300 44zm0 46.127c68.354 0 76.45.26 103.445 1.492 24.96 1.139 38.514 5.31 47.535 8.814 11.95 4.644 20.477 10.192 29.435 19.15 8.959 8.958 14.506 17.487 19.15 29.435 3.506 9.02 7.676 22.576 8.815 47.535 1.231 26.995 1.492 35.092 1.492 103.447 0 68.354-.26 76.45-1.492 103.445-1.139 24.96-5.31 38.514-8.815 47.535-4.644 11.95-10.191 20.477-19.15 29.435-8.958 8.959-17.486 14.506-29.435 19.15-9.02 3.506-22.576 7.676-47.535 8.814-26.99 1.232-35.086 1.493-103.445 1.493-68.36 0-76.455-.26-103.447-1.493-24.96-1.138-38.514-5.308-47.535-8.814-11.95-4.644-20.477-10.191-29.436-19.15-8.958-8.958-14.506-17.486-19.149-29.435-3.506-9.02-7.676-22.576-8.815-47.535-1.232-26.994-1.492-35.091-1.492-103.445 0-68.355.26-76.452 1.492-103.447 1.139-24.96 5.31-38.514 8.815-47.535 4.643-11.948 10.191-20.477 19.15-29.435 8.958-8.958 17.486-14.506 29.435-19.15 9.02-3.505 22.576-7.675 47.535-8.814 26.995-1.232 35.092-1.492 103.447-1.492z"/>
                        <path d="M300 385.332c-47.13 0-85.334-38.205-85.334-85.332 0-47.13 38.205-85.334 85.334-85.334 47.127 0 85.332 38.205 85.332 85.334 0 47.127-38.205 85.332-85.332 85.332zm0-216.792c-72.604 0-131.46 58.856-131.46 131.46 0 72.602 58.856 131.458 131.46 131.458 72.602 0 131.458-58.856 131.458-131.458 0-72.604-58.856-131.46-131.458-131.46zM467.372 163.346c0 16.967-13.754 30.72-30.72 30.72s-30.72-13.753-30.72-30.72c0-16.966 13.754-30.719 30.72-30.719s30.72 13.753 30.72 30.72z" fill="#fff"/>
                      </svg>

                    </a>
                  </div>
                </div>
              </div>
              <div class="l-container">
                <p class="sm-foot-text">
            &copy;2021, {{ metadata.title }}. All rights reserved. Site by <a href="http://www.kellycreativetech.com">Kelly Creative Tech</a>.
          </p>
              </div>
            </footer>
          {% endblock footerwrap %}
        </div>
        <!--/.off-canvas-content-wrap -->
      </div>
      <!-- /.off-canvas-wrap - wrapper for everything -->

      {% block scripts %}
        <script src="{{ '/dist/js/KCT-mobilenav.js' | url }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@5.0/dist/fancybox/fancybox.umd.js"></script>
        <script>
          Fancybox.bind("[data-fancybox]", {
            // Your custom options
          });
        </script>

      {% endblock %}
      <!--
                             KK  Lll.  LLLL
      .KKKKKKKK.            KK .L.  ..L.. .
                ..K       KK  L..   LL
                  K.   KK.   L.   .LL.
                KK. KK      ..    LL.   l
              KK.KK.        L.   LL    l
           KK..K..         .LL l.LL  l
         KK.  .K.   eee.   LL.   LL.
       KK.     .K. ee.. .L...    L.
                 K eeee..   LLL..L  Lllyyyy.
                                          .Y.
      Site by                              .Y
      KellyCreativeTech.com                 y
                                           Y.
                                          .y
                                         .y
                                        .Y
                                       y              -->

    </body>
  </html>