{% extends "base.njk" %}

{% block content %}
{{ layoutContent | safe }}

<section id="full_list">
	{% for post in collections.messages | reverse %}
		<article>
			<h2 class="{% if loop.index == 1 %}h1{% else %}h3{% endif %} ">
				<a href="{{ post.url | url }}">
					{% if post.data.title %}
						{{ post.data.title | safe }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h2>
			{% if post.data.summary %}
				<p style="margin-top:0;">
					{{ post.data.summary }}
				</p>
			{% endif %}
      {% if loop.index == 1 %}
      <audio controls>
        <source src="{{post.data.audio}}" type="audio/mpeg">
          Your browser does not support the audio element.
      </audio>
      {% endif %}


			<p style="margin-top:0;"><small>
        {% if loop.index == 1 %}<a href="{{post.data.audio}}" download>Download</a>{% endif %}
				<time datetime="{{ post.date | machineDate }}">{{ post.date | readableDate }}</time>
      </small></p>
		</article>
    {% endfor %}
</section>

<div data-pagination></div>

<p><em><a href="/messages/index.xml">Subscribe</a></em></p>
{% endblock %}
