{% extends "base.njk" %}

{% block content %}
  <h1>{{ title }}</h1>
  {{ layoutContent | safe }}
  <p>
  start: {{ startdate | machineDate }}<br>
  end: {{ enddate | readableDate }}
  </p>

<nav>
  <a href="{{ '/events/' | url }}">← Event index</a>
</nav>
{% endblock %}
