{% extends "base.njk" %}

{% block maincontentwrap %}

  <section class="v-pad white-bg">
    <div class="l-container">
      <div class="l-two-thirds">
        <h1>{{ title }}</h1>
        {{ layoutContent | safe }}
      </div>
    </div>

    <div class="l-container ">
      {% if galleryImages %}
        <ul class="thumbs gallery-page">
          {% for img in galleryImages %}
            <li>
              <a data-fancybox="gallery" href="{{img.image | imgix }}?w=1600&h=1600" data-caption="{{ img.caption }}">
                <img src="{{img.image | imgix }}?fit=fillmax&fill=blur&w=300&h=300"/>
              </a>
              {% if img.title %}
                <p>{{img.title}}</p>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </div>
  </section>
{% endblock %}