{% extends "base.njk" %}

{% block bodyclass %}homepage{% endblock %}


{% block maincontentwrap %}
<section class="home-callout" id="events">
  <div class="home-callout--wrap">
    <ul class="home-callout--list">
      {% for img in galleryImages %}
      <li class="home-callout--item">
        <a
          class="home-callout--link"
          href="{{ img.link }}"
          >
          <img class="home-callout--img" src="{{ img.image | imgix }}?w=800&h=800&fit=crop" alt="" />
          <span class="home-callout--title">{{ img.title | safe }}</span>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</section>
{% endblock %}


{% block content %}
<h1>{{title}}</h1>
{{ layoutContent | safe }}
{% endblock %}
