{% extends "base.njk" %}

{% block abovecontent %}
{% if permalink == "/about/" %}
<section class="masthead">
  <img class="masthead--img" src="{{ '/dist/img/home-bg.jpg' | imgix }}" />
  <img class="masthead--img-mobile" src="{{ '/dist/img/hero-mobile.jpg' | imgix }}" />
  <div class="l-container v-pad">
  <blockquote class="masthead--quote l-one-half l-last break-at-skinny">
    <p>{{ quote }}</p>
      <cite>
        {{ quotename | safe }}<br>
        <span class="cite-meta">{{ quotecompany | safe }}</span>
      </cite>
  </blockquote>
  </div>
</section>
{% endif %}
{% endblock %}

{% block content %}

<h1>{{ title }}</h1>
{{ layoutContent | safe }}

{% if permalink == "/inquiry/" %}

  {% include 'components/form.njk' %}

{% endif %}

{% set menu_button_text = "See Catalog" %}

{% if permalink == "/corporate-events/" or permalink == "/friends-family/" %}
  {% set menu = metadata.on_site_menu %}
  {% set carryout = metadata.carry_out_catering_menu %}

{% elif permalink == "/food-trucks/" %}
  {% set menu = metadata.food_truck_menu %}

{% elif permalink == "/bar-service/" %}
  {% set menu = metadata.bar_service_menu %}
  {% set menu_button_text = "See Bar Packages" %}

{% elif permalink == "/vegan-wedding-catering/" %}
  {% set menu = metadata.vegan_on_site_menu %}
  {% set menu_button_text = "See Vegan Catalog" %}
  {% set carryout = metadata.carry_out_vegan_menu %}
{% endif %}

{% if menu %}
<a
  class="btn"
  {% if carryout %}
  data-fancybox data-src="#menu_popup"
  {% else %}
  href="{{ menu | url }}"
  {% endif %}
  >
  {{ menu_button_text }}
</a>
{% endif %}

{% if carryout %}
<div id="menu_popup" style="display:none;text-align:center;">
  <h4>What type of catering would you like?</h4>
  <p><strong>On Site Buffet with Service:</strong> We provide buffet tables, buffet table linens, serving platters, serving utensils, hot and cold holding equipment, and staff to set up the buffet and keep the buffet clean and stocked.</p>

  <p><a href="{{ menu | url }}" class="button btn">On Site Buffet with Service</a></p>

  <p><strong>Pick-Up or Delivery:</strong> We simply provide food in disposable pans. This is a carry out or drop off, with no service at the event.</p>

  <p><a href="{{ carryout | url }}" class="button btn" style="margin-right:10px;">Pick-Up or Delivery</a></p>
</div>
{% endif %}


{% if galleryImages %}
<ul class="thumbs">
  {% for img in galleryImages %}
  <li>
    <a data-fancybox="gallery" href="{{img.image}}-/resize/1200/">
      <img src="{{img.image}}-/scale_crop/300x300/" />
    </a>
    {% if img.title %}
    <p>{{img.title}}</p>
    {% endif %}
  </li>
  {% endfor %}
</ul>
{% endif %}


{% endblock %}

{% block sidebar %}
<img src="{{ image | imgix }}?w=800&h=800&fit=crop" />

{% if quote2 %}
<blockquote class="">
  <p>{{ quote2 | safe }}</p>
    <cite>
      {{ quotename2 | safe }}<br>
      <span class="cite-meta">{{ quotecompany2 | safe }}</span>
    </cite>
</blockquote>
{% endif %}
{% endblock %}
