{% extends "base.njk" %}

{% block content %}
<article>

{% if author %}<p><small>{{author}}</small></p>{% endif %}

{% if audio %}
  <audio controls>
    <source src="{{audio}}" type="audio/mpeg">
      Your browser does not support the audio element.
  </audio>
  <p><small>
    <a href="{{audio}}" download>Download</a> |
    <time datetime="{{ date | machineDate }}">{{ date | readableDate }}</time>
  </small></p>
{% endif %}

{{ layoutContent | safe }}


</article>

<nav>
  <br><br><hr>
  <a href="{{ '/messages/' | url }}">← See all messages</a>
</nav>
{% endblock %}
