::-moz-selection { color: $selection-color;  background: $selection-bg; }
::selection      { color: $selection-color;  background: $selection-bg; }

body{
	background: $body-bg;
}


blockquote {
  quotes: "\201C""\201D""\2018""\2019";
  position: relative;
  @include font-size(2.0);
  	&:before {
      position: absolute;
      top: -46px;
      left: -21px;
  	  content: "\201C";
  	  font-size: 220px;
  	  line-height: 1;
      opacity: 0.3;
      z-index: 1;
	}
	p {
    @include font-size(2.6);
    line-height: 1.4;
    z-index: 2;
    font-style: italic;
	  // &:before{
	  // 	content: "\201C";
	  // }
	  &:after{
		content: "\201D";
	  }
	}
	cite{
		display:block;
		color: tint($text-color, 40%);
		font-size: 0.8em;
		font-style:italic;
		&:before{
			content: "\2014  ";
		}
	}
}

table{
	width: 100%;
	tr:nth-child(odd) td{
		background-color: mix($shade, $body-bg, 5%);
	}
	td{
		width: 50%;
		padding:4px;
	}
}
.module table td{width: auto;}
