$button-bg-color: $text-color;
$button-color: #fff;
$button-border: 0 none;
$button-border-radius:  4px;
$button-hover-background: #444;
$button-padding: 8px 16px;
$button-margin: 15px 0;
$button-font-weight:300;

$button-subdued-bg-color: rgba(0,0,0,0.3);
$button-subdued-color: #fff;
$button-subdued-border: 0 none;
$button-subdued-border-hover: 0 none;
$button-subdued-hover-background:  rgba(0,0,0,0.6);

input[type="submit"],
button,
.btn{
  background-color: $button-bg-color;
  color: $button-color;
  border: $button-border;
  border-radius: $button-border-radius;
  padding: $button-padding;
  margin: $button-margin;
  font-weight: $button-font-weight;
  font-family: $button-font-family;
  @include font-size(2.2);
  display:inline-block;
  vertical-align: middle;
  text-decoration: none;
  &:hover{
    background-color: $button-hover-background;
    color: $button-color;
    text-decoration: none;
  }
  &.subtle{
    background-color: $button-subdued-bg-color;
    color: $button-subdued-color;
    border: $button-subdued-border;
    &:hover{
      background-color: $button-subdued-hover-background;
      border: $button-subdued-border-hover;
    }
  }
  &.block,
  &.btn-block{
    display:block;
    text-align: center;
  }
}
