//use rems with fallback
body{
	font-family: $base-font-family;
	@include font-size( $base-font-size );
	font-weight: $paragraph-font-weight;
	line-height: $base-line-height;
	color: $text-color;
}

//use this because we're using base-font-size set at 1.6 for
// the REM fallback..
p, li, div, table{
	@include font-size( $paragraph-font-size );
	.small & {
		font-family: $alt-font-family;
		@include font-size( $small-paragraph-font-size );
	}
}
p{
	margin: 0 0 1em 0;

  &.large {
      font-size: 1.4em;
  }
}
.intro{
	font-family: $header-font-family;
}

b, strong{
	font-weight: 600;
}
.bordered-head{
	position: relative;
	text-align: center;
	font-style: italic;
	.text-wrap{
		background: #fff;
		padding: 0 10px;
		position: relative;
		z-index: 12;
	}
	&:after{
		content: "";
		position: absolute;
		top: 50%;
		border-bottom: 2px solid mix($body-bg, $primary-color, 50%);
		left: 0;
		right: 0;
		z-index: 10;
	}
}

.hours {
	margin: 0.5em 0;
	padding-bottom: 0.25em;
	text-align: center;
	border-bottom: 1px solid mix($tint, $primary-color, 80%);


}

h1, h2, h3, h4, h5, h6{
	font-family: $header-font-family;
	font-weight: $header-font-weight;
	line-height: $header-line-height;
	color: $header-color;
	margin: 0 0 0.25em 0;
	small{
		color: mix($tint, $header-color, 60%)
	}
	a{
		color: $header-link-color;
		&:hover{
			color: $header-link-color-hover;
			text-decoration: none;
		}
		&:active{
			color: $header-link-color-active;
		}
	}
}
* + h1, * + h2, * + h3, * + h4, * + h5, * + h6{
	margin-top: 1em;
}

.home-section-head{
	background: $primary-color;
	padding: 10px;
	color: #fff;
	margin-bottom: 0;
	&.bleed{
		margin: -10px -10px 0 -10px;
	}
}

//sort of complicated type sizes. trying something new here. Basically keeping
//all proportions consistent while adjusting a global setting.

@mixin type-sizes($multiplier: 1){
    //use this because we're using base-font-size set at 1.6 for
    // the REM fallback..
    p, li, div, table, label, input, button{
        @include font-size( $paragraph-font-size * $multiplier );
    }
    .big{
    	@include font-size( $paragraph-font-size * 1.2 * $multiplier );
    }
    h1{ @include font-size( $paragraph-font-size * 3.0 * $multiplier); }
    h2{ @include font-size( $paragraph-font-size * 2.6 * $multiplier); }
    h3{ @include font-size( $paragraph-font-size * 2.0 * $multiplier); }
    h4{ @include font-size( $paragraph-font-size * 1.8 * $multiplier); }
    h5{ @include font-size( $paragraph-font-size * 1.6 * $multiplier); }
    h6{ @include font-size( $paragraph-font-size * 1.2 * $multiplier); }
}

@include type-sizes(0.9);

// @include breakpoint($above-skinny){
//     @include type-sizes(0.9);
// }
@include breakpoint($above-normal){
    @include type-sizes(1);
}

.knockout {
	p, li, h1, h2, h3, h4, h5, h6, a, a:hover, blockquote, cite {
		color: #fff;
	}
}


a {
    color: $link-color;
    text-decoration: underline;
    transition: all 0.5s;
    cursor: pointer;

    &:hover{
      color: mix($shade, $link-color, 15%);
			text-decoration: none;
    }
}

.orange-text,
.knockout .orange-text {
  color: $primary-color;
}

.text-right {
  text-align: right;
}
