html, body {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
img{max-width: 100%;}

figure {
  margin: 0;
  padding: 0;
}
.float-right{
	float:right;
	margin: 0 0 20px 20px;
}
.float-left{
	float:left;
	margin: 0 20px 20px 0;
}
.pos-rel{
  position:relative;
}

.dark-bg {
  background: #222;
}
.fade-bg {
  background: rgba(0,0,0,0.4);
}
.text-center{
  text-align:center;
}
.no-margin{
  margin: 0;
}
.v-pad{
  padding: 1em 0;
  @include breakpoint($above-stacked){ padding: 3em 0; }
}
.pad-right{
  padding-right: 0;
  @include breakpoint($above-stacked){ padding-right: 30px;}
}
//this totally shouldn't be necessary
.old-ie{
  .l-header, .l-footer, .l-sidebar, .l-main-nav-block, .l-main-content-wrap{display:block;}
}
// breakpoint classes
.mobile-only{
  display:block;
  @include breakpoint($above-stacked){ display: none; }
}
.hide-mobile{
  display:none;
  @include breakpoint($above-stacked){ display: block; }
}
.vimeo-player{
  width:100%;
  @include breakpoint($above-skinny){
    float:right;
    margin:0 -50% 10px 20px;
  }
}
//breakpoint settings
@include breakpoint-set('no query fallbacks', true);

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
.clearfix{
	@include clearfix();
}
hr{
  border-width: 0;
  border-bottom: 1px solid rgba(255,255,255,0.8);
  border-top: 1px solid rgba(0,0,0,0.15);
  margin: 1em 0;
  clear:both;
  @include clearfix();
}

//use rems with fallback, then the font-size mixin for fallbacks
html {
  font-size: 62.5%; /* Sets up the Base 10 stuff */
}
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

//trying to remove compass dependancy
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

.gradient {
  background: linear-gradient( to right bottom, $primary-color, mix($shade, $primary-color, 30%));
}
.sidebar-img{
  margin-bottom: 2em;
}
.video-wrap{
  position: relative;
  width:100%;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 0;
  height: 0;
  margin-bottom:20px;
  iframe, object, embed{
    top:0;
    left:0;
    width:100% !important;
    height:100% !important;
    position: absolute;
  }
}

table{
  width: 100%;
  td, tr{
    vertical-align:top;
  }
}

//facebook junk
.fb-page, .fb-page iframe[style], .fb-page span {
    width: 100% !important;
}

.white-bg {
  background: #fff;
}
.grey-bg {
  background: $grey;
}

// Function to create an optimized svg url
// Source: http://codepen.io/jakob-e/pen/doMoML
// Explained: https://codepen.io/tigt/post/optimizing-svgs-in-data-uris
@function svg-url($svg) {
  //  Chunk up string in order to avoid
  //  "stack level too deep" error
  $encoded: "";
  $slice: 2000;
  $index: 0;
  $loops: ceil(calc(str-length($svg) / $slice));

  @for $i from 1 through $loops {
    $chunk: str-slice($svg, $index, $index + $slice - 1);
    // Encode (may need a few extra replacements)
    $chunk: str-replace($chunk, '"', "'");
    $chunk: str-replace($chunk, "<", "%3C");
    $chunk: str-replace($chunk, ">", "%3E");
    $chunk: str-replace($chunk, "&", "%26");
    $chunk: str-replace($chunk, "#", "%23");
    $encoded: #{$encoded}#{$chunk};
    $index: $index + $slice;
  }

  @return url("data:image/svg+xml;charset=utf8,#{$encoded}");
}

//  Helper function to replace characters in a string
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }
  @return $string;
}
