// This is how you override the global grid

// breakpoint variables
$above-stacked: 870px;
$above-skinny: 870px;
$above-normal: 985px;
$above-normal-plus: 1100px;
$above-wide: 1400px;
$above-wide-plus: 1460px;

$above-stacked-only: $above-stacked $above-skinny - 1;
$skinny-only: $above-skinny $above-normal - 1;
$normal-only: $above-normal $above-wide - 1;

//colors


$purple: #3A217A;
$red: #ab0404;
$blue: #3a7bd5;
$blue2: #00d2ff;
$beige: #f0ead1;
$brown: #513527;
$green: #17874a;
$orange: #f47840;
$tint: #fff;
$shade: #000;
$grey: #5c5e5e;
$dark-grey: #222;


%overlay-dark{
	background-color: $brown;
	background-color: rgba($brown, 0.8);
}
//mix($tint, $primary-color, 60%)

//color keywords
$primary-color: $tint;
$secondary-color: $green;
$text-color: #333;
$link-color: $text-color;

//global styles
$body-bg: $tint;
$selection-color: #fff;
$selection-bg: #777;

$well-bg: #eee;
$well-border: $well-bg;
$well-padding: 0;

//type and important global styles
$base-font-size: 1.6;
$base-line-height: 1.4;
$base-font-family: 		"futura-pt", sans-serif;
$paragraph-font-weight: 400;
$paragraph-font-size: 2.0; //this uses the rem-calc mixin
$small-paragraph-font-size: 1.6;

$alt-font-family: $base-font-family;
$header-font-family: $base-font-family;
$header-font-weight: 400;
$header-line-height: 1.2;
$header-color: $text-color;
$header-link-color: $link-color;
$header-link-color-hover: shade($header-link-color, 30%);
$header-link-color-active: shade($header-link-color-hover, 30%);

$button-font-family: $header-font-family;


// Hamburger menu options
$hamburger-layer-color: $tint;
$hamburger-layer-width: 30px;
$hamburger-layer-height: 2px;
$hamburger-types: (spin);
