.l-main{
	padding: 30px 0;
	@include breakpoint($above-stacked){
		padding: 80px 0;
	}
}

.subpage-top-info{
	text-align:right;
	color: #fff;
	padding-top: 1em;
	i{ @include font-size(1.8);}
	a{
		@include font-size(3.2);
		color: #fff;
		&:hover{
			color: #fff;
		}
	}
}


.default-content {
  padding-top: 150px;
}
