.l-footer{
	margin: 1rem 0 0;
	padding: 10px 0;
  background-color: #222;
  padding-top: 20px;

  @include breakpoint($above-stacked) {
    padding-top: 40px;
		padding-bottom: 40px;
  }

}

.sm-foot-text {
	font-size: 0.7em;
}

.footer-address {
  p {
    font-size: 24px;
  }

  a {
    text-decoration: none !important;

    &:hover {
      text-decoration: underline !important;
    }
  }

  @include breakpoint($above-stacked) {
    padding-left: 20px;
  }
}

.footer-button {
	background: #fff;
border-radius: 4px;
font-size: 20px;
font-style: italic;
padding: 8px 16px;
color: #111 !important ;
text-decoration: none;
}
