// removing Susy grid

.l-container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}
.l-container:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 870px) {
  .l-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media (min-width: 1460px) {
  .l-container {
    padding-left: 0;
    padding-right: 0;
  }
}
.l-container.no-pad {
  padding-left: 0;
  padding-right: 0;
}
.l-container.skinny {
  max-width: 985px;
  margin-left: auto;
  margin-right: auto;
}
.l-container.skinny:after {
  content: " ";
  display: block;
  clear: both;
}

.l-col-wrap {
  margin: 36px 0;
}

@media (min-width: 870px) {
  .l-one-third {
    width: 32.2033898305%;
    float: left;
    margin-right: 1.6949152542%;
  }
  .l-one-third:nth-child(3n+3) {
    width: 32.2033898305%;
    float: right;
    margin-right: 0;
  }
  .l-one-third.l-last {
    width: 32.2033898305%;
    float: right;
    margin-right: 0;
  }
  .l-one-third:nth-child(4n+4) {
    clear: both;
  }
}
.l-one-third.pad {
  padding-bottom: 40px;
}
@media (min-width: 870px) {
  .l-one-third.pad {
    padding-bottom: 80px;
    padding-left: 10px;
    padding-right: 10px;
  }
}

.l-one-half.break-at-skinny, .l-one-half.break-at-skinny.l-last {
  width: 100%;
  float: none;
}
@media (min-width: 870px) {
  .l-one-half.break-at-skinny, .l-one-half.break-at-skinny.l-last {
    width: 49.1525423729%;
    float: left;
    margin-right: 1.6949152542%;
  }
  .l-one-half.break-at-skinny.l-last, .l-one-half.break-at-skinny.l-last.l-last {
    width: 49.1525423729%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 870px) {
  .l-one-half {
    width: 49.1525423729%;
    float: left;
    margin-right: 1.6949152542%;
  }
  .l-one-half.l-last {
    width: 49.1525423729%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 870px) {
  .l-one-fifth {
    width: 18.1818181818%;
    float: left;
    margin-right: 2.2727272727%;
  }
  .l-one-fifth.l-last {
    width: 18.1818181818%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 870px) {
  .l-two-thirds {
    width: 66.1016949153%;
    float: left;
    margin-right: 1.6949152542%;
  }
  .l-two-thirds.l-last {
    width: 66.1016949153%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 870px) {
  .l-one-quarter {
    width: 23.7288135593%;
    float: left;
    margin-right: 1.6949152542%;
  }
  .l-one-quarter.l-last, .l-one-quarter:nth-child(4n+4) {
    width: 23.7288135593%;
    float: right;
    margin-right: 0;
  }
  .l-one-quarter:nth-child(4n+5) {
    clear: both;
  }
}

@media (min-width: 870px) {
  .l-news {
    width: 40.6779661017%;
    float: left;
    margin-right: 1.6949152542%;
  }
}

@media (min-width: 870px) {
  .l-features {
    width: 57.6271186441%;
    float: right;
    margin-right: 0;
  }
}

@media (min-width: 870px) {
  .l-three-quarters {
    width: 74.5762711864%;
    float: left;
    margin-right: 1.6949152542%;
  }
  .l-three-quarters.l-last {
    width: 74.5762711864%;
    float: right;
    margin-right: 0;
  }
}