.home-callout {
  background: $dark-grey;

  &--wrap {
    background: rgba(0,0,0,0.4);
  }

  &--list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  &--link {
    display: block;
    background: $shade;
    overflow: hidden;
    position: relative;

    &:hover {
      .home-callout--img {
        opacity: 0.8;
        transform: scale(1.1);
      }
    }
  }

  &--item {
    position: relative;
    padding: 0 0 20px;
  }

  &--img {
    opacity: 0.6;
    will-change: opacity, transform;
    transition: opacity 0.3s linear, transform 0.3s linear;
    display: block;
  }

  &--title {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 10px;
    right: 10px;
    text-align: center;
    color: $tint;
    font-size: 32px;
    font-weight: bold;
    text-shadow: 0 0 12px rgba(0,0,0,0.8);

  }


  @include breakpoint($above-stacked) {
    &--item {
      padding: 34px;
    }
    
    &--list {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
      margin-top: 0;
      margin-bottom: 0;
    }

    &--item {
      flex: 0 0 49%;
    }
    &--img {}
    &--title {}
  }

  @include breakpoint($above-skinny) {
    &--item {
      flex: 0 0 34%;
    }
  }
}
