.l-header {
    padding:0;
    background: #111;
    @include clearfix;

    .l-container{position:relative;}

}

.main-logo {
  display: none;
  margin: 10px 0;
  max-width: 160px;
  width: 100%;

  @include breakpoint($above-stacked){
    display: block;
  }
}

.hero {
  padding: 20px 10px;

  h1 {
    margin-top: 0.25em;
    @include font-size(4.4);
  }

  h4 {
    @include font-size(2.6);
  }

  h5 {
    @include font-size(2.2);
  }

  @include breakpoint($above-stacked){
    padding: 100px 0;

    h1 {
      margin-top: 1em;
      @include font-size(5.4);
    }

    h4 {
      @include font-size(3.24);
    }

    h5 {
      @include font-size(2.88);
    }
  }


}

.item{
    position:relative;
    background: #fff;

    picture, img{
        display:block;
        opacity: 0.3;
    }
}
.home-carousel,
.sub-mast {
    position: relative;
    will-change: padding;
    transition: padding 400ms linear;
    padding-top: 55px;
    @include breakpoint($above-stacked){
      padding-top: 90px;
    }
}
.overlay{
    padding: 0 20px;
    text-align: center;
    margin: 0 auto;
    @include breakpoint($above-skinny){
        position: absolute;
        z-index: 100;
        top: 50%;
        transform: translateY(-50%);
        left:0;
        right: 0;
    }
    @include breakpoint($above-normal){
      max-width: 50%;
    }

    h1{
        margin-top: 1em;
    }
    h4 {
        max-width: 800px;
        margin: 0.5em auto;
    }

}

.mobile-logo{
    padding: 10px;
    color: #fff;
    width: 80px;
    float:left;
    box-shadow: none;
    &:hover {
        box-shadow: none;
    }
    @include breakpoint($above-stacked){
      display: none;
    }
}
.hamburger {
  display: inline-block;
  margin-top: 16px;
  text-align: right;
  @include breakpoint($above-stacked){
    display: none;
  }

}

.sub-mast{
    img{display:block;width:100%;}
}

.home-caption{
	position: absolute;
	top: 30%;
  margin: 0 auto;
  text-align: center;
	line-height: 1;
	opacity: 0;
	transition: all 2s ease-in-out;
	z-index: 150;
	color: $tint;
	transform: translateX(-40px);
	@include font-size(2.8);

	@include breakpoint($above-skinny){
		@include font-size(3.6);
	}
	@include breakpoint($above-normal){
		@include font-size(5.4);
    max-width: 60%;
	}

	.item:nth-of-type(2) &{
    left: 7%;
    top: auto;
    bottom: 20%;
  }
	.item:nth-of-type(3) &{
    bottom: auto;
    top: 20%;
  }
}
.item.slick-active{
	.home-caption{
		opacity: 1;
		transform: translateX(0);
	}
}

@keyframes spin {
  0% { transform:rotate(0deg); }
  50% { transform:rotate(20deg); }
  100% { transform:rotate(0deg); }}

.masthead {
  background: $dark-grey;
  color: $tint;
  position: relative;
  min-height: 30vh;
  display: flex;
  flex-direction: column;

  &--img {
    display: none;
  }

  &--img-mobile {

  }

  @include breakpoint($above-skinny) {
    min-height: 50vh;
    flex-direction: row;
    align-items: center;

    &--img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: -10vw center;
    }

    &--img-mobile {
      display: none;
    }
  }

  @include breakpoint($above-wide) {
    &--img {
      object-position: left center;
    }
  }

  &--quote {
    position: relative;
    margin: 0;

    &:before {
      position: absolute;
      top: -40px;
      left: -20px;
      z-index: 1;
  	  color: rgba($tint, 0.2);
  	  content: "\201C";
  	  font-size: 10em;
  	  line-height: 1;
      height: 1px;
      opacity: 1;
  	}

    p {
      position: relative;
      z-index: 2;
      margin-bottom: .5em;
      font-size: 24px;
      font-style: normal;

      @include breakpoint($above-skinny){
        font-size: 32px;
      }
    }
    p:after {
      color: rgba($tint, 0.2);
      content: "\201D";
      font-size: 2em;
      line-height: .1em;
      vertical-align: bottom;
      margin-bottom: 13px;
      display: inline-block;
    }

    .cite-meta {
      padding-left: 16px;
      font-weight: bold;
      color: $tint;
      max-width: 400px;
      display: block;

      @include breakpoint($above-skinny){
        padding-left: 24px;
      }
    }

    cite {
  		display:block;
  		color: tint($text-color, 50%);
  		font-weight: bold;
      font-style: normal;
      font-size: 18px;

      @include breakpoint($above-skinny){
        font-size: 24px;
      }

  		&:before{
  			content: "\2014  ";
  		}
  	}
  }
}
