<title>{% if pagemeta.title %}{{pagemeta.title}}{% elif title %}{{ title }} | {{ metadata.title }}{% else %}{{metadata.title}}{% endif %}</title>
<meta property="og:title" content="{{ pagemeta.title or title or metadata.title}}"/>

<meta name="description" content="{{ pagemeta.description or layoutContent|truncate(100)|striptags }}">
<meta property="og:description" content="{{ pagemeta.description or layoutContent|truncate(100)|striptags }}"/>




<link href="/dist/icons/favicon.png" rel=icon type="image/png">
<link rel="apple-touch-icon-precomposed" href="/dist/icons/apple-touch-icon.png">

<meta property="og:image" content="{% if pagemeta.meta_image %}{{pagemeta.meta_image | imgix }}{% elif image %}{{image | imgix }}{% else %}https://russosevents.com/dist/img/social-bg.jpg{% endif %}?w=1200&h=627&fit=crop"/>



<meta property="og:url" content="{{metadata.url}}{{ page.url}}"/>
<meta property="og:site_name" content="{{metadata.title}}"/>
<meta name="author" content="{{ metadata.name }}">
<meta name="msapplication-TileColor" content="#831952"/>


<meta property="og:type" content="website"/>
