<form id="contact" data-actn="https://submit-form.com/sm5mXlwP" accept-charset="UTF-8" class="glass-form" method="POST">
<input type="hidden" name="_redirect" value="https://www.russosevents.com/success/" />
    <input type="hidden" name="_email.subject" value="A message from RussosEvents.com" />
    <input type="hidden" name="_email.template.title" value="false" />
    <input type="hidden" name="_email.template.footer" value="false" />
    <input type="checkbox" name="_gotcha" style="position:absolute; opacity: 0;height:1px;width:1px;" />

  <div class="field">
    <label for="id_name" class="required-field">Your name</label>
    <input id="id_name" required name="Your_Name" type="text">
  </div>
  <div class="field">
    <label for="id_email" class="required-field">E-mail</label>
    <input required id="id_email" name="E-mail" type="email">
  </div>
  <div class="field">
    <label for="id_phone" class="required-field">Phone</label>
    <input id="id_phone" required name="Phone" type="text">
  </div>
  <div class="field">
    <label for="id_date" class="required-field">Your event date and time</label>
    <input id="id_date" required name="Event_Date" type="text">
  </div>
  <div class="field">
    <label for="id_type">Type of Event</label>
    <input name="Type of Event" type="text">
  </div>


  <div class="field">
    <label for="id_venue">Venue/Location of Event</label>
    <input id="id_venue" name="Venue/Location of Event" type="text">
  </div>
  
  <div class="field">
    <label for="id_count">Roughly how many guests will we be serving?</label>
    <input id="id_count" name="How_Many_Guests" type="text">
  </div>

  <p><br>Food (Select all that apply)</p>

  <div style="margin-bottom: 1em;margin-top: -.5em;">
  <div class="checkbox"><input type="checkbox" id="id_hors_doeuvres" name="Food" value="Hors d'Oeuvres" /><label for="id_hors_doeuvres">Hors d'Oeuvres</label></div>
  <div class="checkbox"><input type="checkbox" id="id_salad" name="Food" value="Salad" /><label for="id_salad">Salad</label></div>
  <div class="checkbox"><input type="checkbox" id="id_soup" name="Food" value="Soup" /><label for="id_soup">Soup</label></div>
  <div class="checkbox"><input type="checkbox" id="id_bread" name="Food" value="Bread" /><label for="id_bread">Bread</label></div>
  <div class="checkbox"><input type="checkbox" id="id_pasta" name="Food" value="Pasta" /><label for="id_pasta">Pasta</label></div>
  <div class="checkbox"><input type="checkbox" id="id_chicken" name="Food" value="Chicken" /><label for="id_chicken">Chicken</label></div>
  <div class="checkbox"><input type="checkbox" id="id_turkey" name="Food" value="Turkey" /><label for="id_turkey">Turkey</label></div>
  <div class="checkbox"><input type="checkbox" id="id_fish" name="Food" value="Fish" /><label for="id_fish">Fish</label></div>
  <div class="checkbox"><input type="checkbox" id="id_beef" name="Food" value="Beef" /><label for="id_beef">Beef</label></div>
  <div class="checkbox"><input type="checkbox" id="id_pork" name="Food" value="Pork" /><label for="id_pork">Pork</label></div>
  <div class="checkbox"><input type="checkbox" id="id_vegan" name="Food" value="Vegan" /><label for="id_vegan">Vegan</label></div>
  <div class="checkbox"><input type="checkbox" id="id_sides" name="Food" value="Sides" /><label for="id_sides">Sides</label></div>
  <div class="checkbox"><input type="checkbox" id="id_dessert" name="Food" value="Dessert" /><label for="id_dessert">Dessert</label></div>
</div>


<p><br>Beverages</p>
<div style="margin-bottom: 1em;margin-top: -.5em;">
<div class="radio"><input type="radio" id="id_bev_1" name="Beverages" value="No Beverages" /><label for="id_bev_1">No Beverages</label></div>
<div class="radio"><input type="radio" id="id_bev_2" name="Beverages" value="Soft Drinks" /><label for="id_bev_2">Soft Drinks</label></div>
</div>


<p><br>Smallwares</p>
<div style="margin-bottom: 1em;margin-top: -.5em;">
<div class="radio"><input type="radio" id="id_smallwares_1" name="Smallwares" value="No Plates, Silverware or Napkins" /><label for="id_smallwares_1">No Plates, Silverware or Napkins</label></div>
<div class="radio"><input type="radio" id="id_smallwares_2" name="Smallwares" value="Disposable Plates, Plasticware and Paper Napkins" /><label for="id_smallwares_2">Disposable Plates, Plasticware and Paper Napkins</label></div>
<div class="radio"><input type="radio" id="id_smallwares_3" name="Smallwares" value="White China, Stainless Flatware and Linen Napkins" /><label for="id_smallwares_3">White China, Stainless Flatware and Linen Napkins</label></div>
</div>

<div class="field">
  <label for="id_count">Comments</label>
  <textarea name="Comments" required></textarea>
</div>


<input name="_gotcha" type="hidden">
<!-- use this to prevent spam -->
<button class="btn" type="submit">Send Booking Inquiry</button>
</form>


<script>
setTimeout(() => {
  let thisForm = document.querySelector('[data-actn]');
  if (thisForm) {
    let action = thisForm.getAttribute('data-actn');    
    thisForm.setAttribute('action', action);
  }
}, "2000");
</script>