<ul>
  {% for item in metadata.nav %}
    <li class="{% if item.subNav %} has-dropdown{% endif %}"><a href="{{ item.link | url }}">{{ item.title |safe }}</a>
      {%- if item.subNav -%}
      <ul>
        {% for subitem in item.subNav %}
        <li><a href="{{ subitem.link | url }}">{{ subitem.title |safe }}</a></li>
        {% endfor %}
      </ul>
      {%- endif -%}
    </li>
  {% endfor %}
</ul>
