<nav class="site-nav sf-menu">
  <ul class="nav" id="menu-main-nav">
    {% for item in metadata.nav %}
      <li class="site-nav-item {% if item.subNav %} has-dropdown{% endif %}"><a class="site-nav-link" href="{{ item.link | url }}">{{ item.title |safe }}</a>
        {%- if item.subNav -%}
        <ul>
          {% for subitem in item.subNav %}
          <li><a class="site-nav-sub-link"  href="{{ subitem.link | url }}">{{ subitem.title |safe }}</a></li>
          {% endfor %}
        </ul>
        {%- endif -%}
      </li>
    {% endfor %}
  </ul>
</nav>
