<section>
	{% for post in postslist | reverse %}
  {% if loop.index <= 1 %}
		<article{% if post.url == url %} data-current="current item"{% endif %}>
			<h3 style="margin-top:0;">
				<a href="{{ post.url | url }}">
					{% if post.data.title %}
						{{ post.data.title | safe }}
					{% else %}
						Untitled
					{% endif %}
				</a>
			</h3>
			{% if post.data.summary %}
				<p>
					{{ post.data.summary }}
				</p>
			{% endif %}
      <audio controls>
        <source src="{{post.data.audio}}" type="audio/mpeg">
          Your browser does not support the audio element.
      </audio>


			<p><small>
        <a href="{{post.data.audio}}" download>Download</a> |
				<time datetime="{{ post.date | machineDate }}">{{ post.date | readableDate }}</time>
      </small></p>
		</article>
    {% endif %}
    {% endfor %}
</section>
