.thumbs {
	list-style:none;
	margin: 2rem 0;
	padding:0;

	display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;



	li{
		a, img{
			display:block;
			width: 100%;
			aspect-ratio: 1/1;
		}

    h5{
			margin-top: 0;
		}
	}
}
