.well{
  background: $well-bg;
  padding: $well-padding;
  border-radius: 0;
  border-top: 2px solid $primary-color;
  padding: 24px;
  &.white{
  	background: #fff;
  	background: rgba(255,255,255,0.5);
  	margin-bottom: 2em;
  	padding: 10px 24px 24px;
  }
}

.success {
  background: mix($tint, $green, 80%);
  border: 1px solid $green;
  padding: 10px;
  color: $green;
  margin: 1em 0;
  p {
    margin: 0;
  }
}

.home-callout-wrap {
  padding-top: 1px;
  padding-bottom: 1px;
}
.home-callouts {
  padding: 0 10px;
  @include breakpoint($above-stacked){
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-top: -21px;
    margin-bottom: -41px;
  }

}
.home-callout {
  margin-bottom: 20px;
  text-align: center;
  @include breakpoint($above-stacked){
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.subpage-wrap {

  @include breakpoint($above-stacked){
    margin-top: 200px;
    margin-bottom: 200px;
  }

}

.subpage-content {
  width: 100%;
  @include breakpoint($above-stacked){
    margin-top: -20px;
    margin-bottom: -20px;
  }
}
.home-icon {
  width: 100px;
  text-align: center;
  line-height: 60px;
  margin: 0 auto;
  display: block;
}

.map {
  height: 300px;
  width: 100%;
  margin-top: 0;
  background: #222;
  @include breakpoint($above-stacked){
    height: 400px;
    margin-top: 200px;
  }
}
